.App {
  text-align: center;
}
body {
  background-color: #282c34;
  color: #ededed;
}
.movie-search {
  width: 300px;
  height: 50px;
  font-size: 24px;
  border-radius: 100px;
  padding-left: 20px;
  outline: none;
  margin-bottom: 3rem;
}
.movie-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.movie {
  box-sizing: border-box;
  width: 100%;
}
.movie-title {
  font-size: 20px;
  height: 50px;
}
.movie-img {
  margin-top: 1rem;
  width: 100%;
}
.movie-year {
}
.movie-genre {

}