/* NAV AND HTML ELEMENTS */
body {
  background-color: #282c34;
  color: lightgray;
}
a {
  text-decoration: none;
  color: black;
}
.title {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.movie-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.movie-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  > a {
    width: auto;
  }
}
/* BUTTON AND LINKS */
.btn-add-new {
  display:inline-block;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background-color: palegreen;
  color: black;
}
.btn-normal {
  padding: 8px;
  background-color: #ededed;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}
/* MOVIE ITEM */
.movie-item {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 1rem;
  h3 {
    margin-top: 0px;
  }
  img {
    width: 150px;
    height: 100%;
    margin-right: 3rem;
  }
  section {
    width: 300px;
  }
  li,
  p {
    font-size: 18px;
  }
  ul {
    padding-left: 1rem;
    text-align:left;
  }
}
.single-movie {
  margin-top: 4rem !important;
}
/* FORM ITSELF */
.movie-create {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  label {
    font-size: 20px;
  }
  textarea,
  input {
    display: block;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
  }
}